
nav.navigation {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: white;
	height: 54px;
}

div.container {
	text-align: center;
}

.icon {
	width: 48px;
	height: auto;
}

div.body {
	padding-top: 60px;
}

.button-clear {
	color: rgba(96, 108, 118);
}

.bio-paragraph {
	padding-top: 12vh;
}

.navText {
	vertical-align: bottom;
}
highlightGreen{
	color: rgba(148, 209, 60);
}

highlightBlack{
	color: rgba(39, 39, 39);
}

.quote {
	float: left;
}


/* Nutrition Label */
div.nutritionLabel {
	padding: 40px;
	padding-top: 800px;
	max-width: 500px;
	display: inline-block;
}
table.nutritionLabel {
	outline: 1px solid black;
}
.center{
	text-align:center;
}

.float-left.pad {
	padding-left: 10px;
}

.float-right.pad {
	padding-right: 10px;
}

.float-left.indent {
	padding-left: 40px;
}

.float-right.indent {
	padding-right: 40px;
}